<div class ="flex">
<h1>Restaurant:<%= @restaurant.name %></h1>
<li>Address:<%= @restaurant.address %>
<li>Phone Number:<%= @restaurant.phone_number %>
<li>Category:<%= @restaurant.category %>
</li>
</div>

<%= link_to 'See All Listings', restaurants_path %>
