<div class ="flex">
<h1>Restaurant:<%= @restaurant.name %></h1>
<li>Address:<%= @restaurant.address %>
<li>Phone Number:<%= @restaurant.phone_number %>
<li>Category:<%= @restaurant.category %>
</li>
</div>

<h2>Reviews</h2>
<dl class= "row">
  <% if @restaurant.reviews.empty? %>
    <p>There are no reviews yet...</p>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <dt class="col-sm-3">Rating # Stars:<%= review.rating %></dt>
      <dd class="col-sm-9"><%= review.content %></dd>
    <% end %>
  <% end %>
</dl>

<%= link_to "See All Listings", restaurants_path %>
<%= link_to "Leave a Review!", new_restaurant_review_path(@restaurant) %>
